In [1]:
import pandas as pd
import numpy as np

In [7]:
file_name = "data/output_tweets/sentiment_scored_english_tweets.csv"
print("Reading " + file_name + "\n");
data = pd.read_csv(file_name)
del data['Unnamed: 0']
print(data.shape)

Reading data/output_tweets/sentiment_scored_english_tweets.csv

(43767, 9)

In [3]:
loc_to_canton = pd.read_csv('data/location_to_canton.csv')
del loc_to_canton['Unnamed: 0']

In [16]:
loc_to_canton.columns = [['canton','source_location']]
print(loc_to_canton.shape[0])
loc_to_canton.head()

74

  canton     source_location
0     ZH  Affoltern am Albis
1     ZH             Zuerich
2     ZH              Zurigo
3     ZH               Uster
4     ZH          Winterthur

In [17]:
not_represented_cantons = loc_to_canton[loc_to_canton.source_location.isnull()]
print(not_represented_cantons.shape[0]/loc_to_canton.shape[0])
not_represented_cantons

0.04054054054054054

   canton source_location
30     GL             NaN
31     ZG             NaN
44     AI             NaN

In [8]:
data.head()

,lang,main,published,sentiment,source_location,main_tk,meaningful_main,clean_main_polarity,vader_polarity
0,en,@ZHA_News https://youtu.be/UxQmxIm4q1s Rest i...,2016-04-01T02:35:56Z,POSITIVE,Lucerna,"['https://youtu.be/UxQmxIm4q1s', 'Rest', 'in',...","['https://youtu.be/uxqmxim4q1s', 'rest', 'peac...",0.071428,0.8856
1,en,Come and join me at our testing Roadshow on Ap...,2016-04-01T14:42:21Z,POSITIVE,Ennetbürgen,"['Come', 'and', 'join', 'me', 'at', 'our', 'te...","['com', 'join', 'test', 'roadshow', 'april', '...",0.071428,0.7644
2,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T21:50:50Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848
3,en,Number crunching for the past week - 1 new unf...,2016-04-01T11:43:27Z,NEUTRAL,Arth,"['Number', 'crunching', 'for', 'the', 'past', ...","['numb', 'crunch', 'past', 'week', '-', '1', '...",-0.090908,0.0772
4,en,Just posted a photo @ Langnau im Emmental http...,2016-04-01T06:31:13Z,NEUTRAL,Langnau,"['Just', 'posted', 'a', 'photo', '@', 'Langnau...","['just', 'post', 'photo', '@', 'langnau', 'im'...",0.000000,0.0000

In [9]:
data_new = pd.merge(data, loc_to_canton, on='source_location', how='left')
data_new

,lang,main,published,sentiment,source_location,main_tk,meaningful_main,clean_main_polarity,vader_polarity,canton
0,en,@ZHA_News https://youtu.be/UxQmxIm4q1s Rest i...,2016-04-01T02:35:56Z,POSITIVE,Lucerna,"['https://youtu.be/UxQmxIm4q1s', 'Rest', 'in',...","['https://youtu.be/uxqmxim4q1s', 'rest', 'peac...",0.071428,0.8856,LU
1,en,Come and join me at our testing Roadshow on Ap...,2016-04-01T14:42:21Z,POSITIVE,Ennetbürgen,"['Come', 'and', 'join', 'me', 'at', 'our', 'te...","['com', 'join', 'test', 'roadshow', 'april', '...",0.071428,0.7644,NW
2,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T21:50:50Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848,NaN
3,en,Number crunching for the past week - 1 new unf...,2016-04-01T11:43:27Z,NEUTRAL,Arth,"['Number', 'crunching', 'for', 'the', 'past', ...","['numb', 'crunch', 'past', 'week', '-', '1', '...",-0.090908,0.0772,SZ
4,en,Just posted a photo @ Langnau im Emmental http...,2016-04-01T06:31:13Z,NEUTRAL,Langnau,"['Just', 'posted', 'a', 'photo', '@', 'Langnau...","['just', 'post', 'photo', '@', 'langnau', 'im'...",0.000000,0.0000,BE
5,en,Europe's New Mars Mission Bringing NASA Radios...,2016-04-01T13:42:13Z,NEUTRAL,Poschiavo,"[""Europe's"", 'New', 'Mars', 'Mission', 'Bringi...","[""europe's"", 'new', 'mar', 'miss', 'bring', 'n...",-0.181817,0.0000,GR
6,en,I liked a @YouTube video http://youtu.be/LE1WG...,2016-04-01T15:46:19Z,POSITIVE,Laufen,"['I', 'liked', 'a', 'video', 'http://youtu.be/...","['i', 'lik', 'video', 'http://youtu.be/le1wgmr...",0.099999,0.6249,BL
7,en,NASA's Spitzer Maps Climate Patterns on a Supe...,2016-04-01T13:40:43Z,POSITIVE,Poschiavo,"[""NASA's"", 'Spitzer', 'Maps', 'Climate', 'Patt...","[""nasa's"", 'spitz', 'map', 'clim', 'pattern', ...",0.000000,0.0000,GR
8,en,Microsoft’s HoloLens now available to develope...,2016-04-01T08:08:59Z,POSITIVE,Poschiavo,"['Microsoft', '’', 's', 'HoloLens', 'now', 'av...","['microsoft', '’', 'holol', 'avail', 'develop'...",0.000000,0.0000,GR
9,en,"""i will leave tomorrow's problem for tomorrow'...",2016-04-01T16:15:46Z,NEGATIVE,Schwyz,"['""', 'i', 'will', 'leave', ""tomorrow's"", 'pro...","['""', 'leav', ""tomorrow's"", 'problem', ""tomorr...",-0.111110,-0.4404,SZ
10,en,#Agritech #startup @ecoRobotix provides a very...,2016-04-01T13:29:36Z,POSITIVE,Herisau,"['#Agritech', '#startup', 'provides', 'a', 've...","['#agritech', '#startup', 'provid', 'us', '#we...",0.045454,0.6115,AR
11,en,.@v_ita1880 sur #Periscope : Before https://ww...,2016-04-01T19:30:08Z,NEUTRAL,Ginevra,"['.', '@v_ita1880', 'sur', '#Periscope', ':', ...","['@v_ita1880', 'sur', '#periscope', ':', 'bef'...",0.000000,0.0000,GE
12,en,"3 Followed, 4 Unfollowed me (monitored by http...",2016-04-01T15:01:05Z,NEUTRAL,Affoltern am Albis,"['3', 'Followed', ',', '4', 'Unfollowed', 'me'...","['3', 'follow', ',', 'unfollow', '(', 'monit',...",0.000000,0.0000,ZH
13,en,"Forget Tolkien, the scientific tale of real-li...",2016-04-01T10:03:59Z,NEGATIVE,Poschiavo,"['Forget', 'Tolkien', ',', 'the', 'scientific'...","['forget', 'tolky', ',', 'sci', 'tal', 'real-l...",-0.076922,-0.2263,GR
14,en,Adrenalin junkie ski’s down from the peak of t...,2016-04-01T10:00:04Z,NEUTRAL,Zermatt,"['Adrenalin', 'junkie', 'ski', '’', 's', 'down...","['adrenalin', 'junky', 'ski', '’', 'peak', '#m...",-0.142855,0.0000,VS
15,en,I just earned the 'Bar Explorer (Level 35)' ba...,2016-04-01T16:20:48Z,NEUTRAL,Schwyz,"['I', 'just', 'earned', 'the', ""'"", 'Bar', 'Ex...","['i', 'earn', ""'"", 'bar', 'expl', '(', 'level'...",0.000000,0.0000,SZ
16,en,@detravoir Might this confirm the prophecy? pi...,2016-04-01T17:49:36Z,NEUTRAL,Confoederatio Helvetica,"['Might', 'this', 'confirm', 'the', 'prophecy'...","['might', 'confirm', 'prophecy', '?', 'pic.twi...",0.000000,0.0000,NaN
17,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T20:51:10Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848,NaN
18,en,Did some #GreenDay #acoustic. 21 Guns. #rock #...,2016-04-01T20:27:24Z,POSITIVE,Confoederatio Helvetica,"['Did', 'some', '#GreenDay', '#acoustic', '.',...","['did', '#greenday', '#acoustic', '21', 'gun',...",0.000000,0.0000,NaN
19,en,Swiss Interim Management - Jobs - Executive Se...,2016-04-01T13:51:19Z,NEUTRAL,Herisau,"['Swiss', 'Interim', 'Management', '-', 'Jobs'...","['swiss', 'interim', 'man', '-', 'job', '-', '...",0.050000,0.2023,AR
20,en,@BlizzHeroes @DustinBrowder http://imgur.com/y...,2016-04-01T00:23:23Z,NEGATIVE,Confoederatio Helvetica,"['http://imgur.com/yX89HVR', '...', 'why', '?'...","['http://imgur.com/yx89hvr', '...', '?', 'yo',...",-0.142855,-0.4939,NaN
21,en,@7UP Happy New Year,2016-04-01T22:32:07Z,POSITIVE,Confoederatio Helvetica,"['@7UP', 'Happy', 'New', 'Year']","['@7up', 'happy', 'new', 'year']",0.249994,0.5719,NaN
22,en,Today I became cool pic.twitter.com/x62GbeRCix,2016-04-01T22:33:00Z,POSITIVE,Confoederatio Helvetica,"['Today', 'I', 'became', 'cool', 'pic.twitter....","['today', 'i', 'becam', 'cool', 'pic.twitter.c...",0.199996,0.3182,NaN
23,en,"Tesla’s Model 3 is here—with a 215 mile range,...",2016-04-01T10:08:54Z,NEUTRAL,Poschiavo,"['Tesla', '’', 's', 'Model', '3', 'is', 'here'...","['tesl', '’', 'model', '3', '—', '215', 'mil',...",0.000000,0.0000,GR
24,en,Bitcoin could soon use more power than Denmark...,2016-04-01T08:06:50Z,NEUTRAL,Poschiavo,"['Bitcoin', 'could', 'soon', 'use', 'more', 'p...","['bitcoin', 'soon', 'us', 'pow', 'denmark', ',...",0.000000,0.5499,GR
25,en,@Timbayens Cool = Goodlife. ;) pic.twitter.com...,2016-04-01T22:35:41Z,POSITIVE,Confoederatio Helvetica,"['Cool', '=', 'Goodlife', '.', ';)', 'pic.twit...","['cool', '=', 'goodl', ';)', 'pic.twitter.com/...",0.199996,0.4939,NaN
26,en,"Nicolaas Hertzsch, Head IBM Software Group, im...",2016-04-01T10:21:04Z,NEUTRAL,Einsiedeln,"['Nicolaas', 'Hertzsch', ',', 'Head', 'IBM', '...","['nicolaa', 'hertzsch', ',', 'head', 'ibm', 's...",0.000000,0.0000,SZ
27,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T01:57:47Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848,NaN
28,en,EN DIRECT sur #Periscope : awa https://www.per...,2016-04-01T21:57:52Z,NEUTRAL,Ginevra,"['EN', 'DIRECT', 'sur', '#Periscope', ':', 'aw...","['en', 'direct', 'sur', '#periscope', ':', 'aw...",0.000000,0.0000,GE
29,en,@7UP You don't even follow your No. 1 fan tho....,2016-04-01T19:23:46Z,NEGATIVE,Confoederatio Helvetica,"['@7UP', 'You', ""don't"", 'even', 'follow', 'yo...","['@7up', 'you', 'ev', 'follow', 'no', '1', 'fa...",-0.099999,-0.4588,NaN
...,...,...,...,...,...,...,...,...,...,...
43737,en,► WilliamHill Sports Bet £10 Get £20 Free Bet ...,2016-04-05T17:18:30Z,POSITIVE,Switzerland,"['►', 'WilliamHill', 'Sports', 'Bet', '£', '10...","['►', 'williamhil', 'sport', 'bet', '£', '10',...",0.000000,0.5106,NaN
43738,en,Ndlozi is such a troll.,2016-04-05T16:04:39Z,NEUTRAL,Switzerland,"['Ndlozi', 'is', 'such', 'a', 'troll', '.']","['ndlozi', 'trol']",0.000000,0.0000,NaN
43739,en,@ValeBiancoxx la perfection,2016-04-05T20:48:37Z,POSITIVE,Switzerland,"['la', 'perfection']","['la', 'perfect']",0.499975,0.5719,NaN
43740,en,How to Fix the Android Play Store When It Cons...,2016-04-05T16:01:18Z,NEUTRAL,Switzerland,"['How', 'to', 'Fix', 'the', 'Android', 'Play',...","['how', 'fix', 'android', 'play', 'stor', 'whe...",0.000000,0.3400,NaN
43741,en,@JDSmith_Design That was all thanks to my smal...,2016-04-05T19:28:52Z,POSITIVE,Switzerland,"['That', 'was', 'all', 'thanks', 'to', 'my', '...","['that', 'thank', 'smal', 'sist', 'opin', 'but...",0.111110,0.7964,NaN
43742,en,Wondering how to grow on twitter? I gained 10 ...,2016-04-05T22:26:01Z,POSITIVE,Switzerland,"['Wondering', 'how', 'to', 'grow', 'on', 'twit...","['wond', 'grow', 'twit', '?', 'i', 'gain', '10...",0.071428,0.4515,NaN
43743,en,#snapchat is great. I can now even try to CALL...,2016-04-05T18:53:22Z,NEUTRAL,Switzerland,"['#snapchat', 'is', 'great', '.', 'I', 'can', ...","['#snapchat', 'gre', 'i', 'ev', 'try', 'cal', ...",0.000000,0.6249,NaN
43744,en,About Those Mystery Droids In Star Wars: The F...,2016-04-05T21:21:14Z,NEGATIVE,Switzerland,"['About', 'Those', 'Mystery', 'Droids', 'In', ...","['about', 'thos', 'mystery', 'droid', 'in', 's...",-0.076922,-0.5574,NaN
43745,en,getting heated in here ngl #RawAfterMania,2016-04-05T01:05:06Z,NEUTRAL,Switzerland,"['getting', 'heated', 'in', 'here', 'ngl', '#R...","['get', 'heat', 'ngl', '#rawaftermania']",0.000000,0.0000,NaN
43746,en,I think I was just bitten by a tick while taki...,2016-04-05T10:45:37Z,NEUTRAL,Switzerland,"['I', 'think', 'I', 'was', 'just', 'bitten', '...","['i', 'think', 'i', 'bit', 'tick', 'tak', 'sho...",0.000000,-0.3400,NaN
43747,en,@Calamity_vt nope http://www.webcamsdemexico.c...,2016-04-05T21:01:52Z,NEUTRAL,Switzerland,"['nope', 'http://www.webcamsdemexico.com/webca...","['nop', 'http://www.webcamsdemexico.com/webcam...",0.000000,0.0000,NaN
43748,en,@inkingtheirlove @woIvesmoon yesss there's eve...,2016-04-05T16:07:01Z,NEUTRAL,Switzerland,"['yesss', ""there's"", 'even', 'my', 'name', 'in...","['ye', 'ev', 'nam']",0.000000,0.0000,NaN
43749,en,After experimenting with a curling wand i now ...,2016-04-05T20:35:59Z,POSITIVE,Switzerland,"['After', 'experimenting', 'with', 'a', 'curli...","['aft', 'expery', 'curl', 'wand', 'look', 'exa...",0.000000,0.6597,NaN
43750,en,New Smaller Roku Stick Makes It Easier to Watc...,2016-04-05T13:29:03Z,NEUTRAL,Switzerland,"['New', 'Smaller', 'Roku', 'Stick', 'Makes', '...","['new', 'smal', 'roku', 'stick', 'mak', 'it', ...",0.000000,0.0258,NaN
43751,en,I wonder if moderation is a thing on Miitomo,2016-04-05T17:34:42Z,POSITIVE,Switzerland,"['I', 'wonder', 'if', 'moderation', 'is', 'a',...","['i', 'wond', 'mod', 'thing', 'miitomo']",0.000000,0.0000,NaN
43752,en,@MrabetNaddish I thought I'd find you here,2016-04-05T17:54:58Z,NEUTRAL,Switzerland,"['I', 'thought', ""I'd"", 'find', 'you', 'here']","['i', 'thought', ""i'd"", 'find']",0.000000,0.0000,NaN
43753,en,‘Panama Papers’ bombshell reveals Secom founde...,2016-04-05T03:11:53Z,NEUTRAL,Switzerland,"['‘', 'Panama', 'Papers', '’', 'bombshell', 'r...","['‘', 'panam', 'pap', '’', 'bombshel', 'rev', ...",0.000000,0.0000,NaN
43754,en,Have you ever felt stuck? Would you love to kn...,2016-04-05T10:45:40Z,NEGATIVE,Switzerland,"['Have', 'you', 'ever', 'felt', 'stuck', '?', ...","['hav', 'ev', 'felt', 'stuck', '?', 'would', '...",-0.062500,0.5514,NaN
43755,en,#nowplaying Kaleo - (REP) No Good #Kaleo http:...,2016-04-05T14:19:10Z,POSITIVE,Switzerland,"['#nowplaying', 'Kaleo', '-', '(', 'REP', ')',...","['#nowplaying', 'kaleo', '-', '(', 'rep', ')',...",0.090908,0.1779,NaN
43756,en,Valve will let you watch Dota 2 games in virtu...,2016-04-05T21:38:21Z,NEUTRAL,Switzerland,"['Valve', 'will', 'let', 'you', 'watch', 'Dota...","['valv', 'let', 'watch', 'dot', 'gam', 'virt',...",0.000000,0.0000,NaN
43757,en,We need to develop IT security talent and move...,2016-04-05T16:10:25Z,POSITIVE,Switzerland,"['We', 'need', 'to', 'develop', 'IT', 'securit...","['we', 'nee', 'develop', 'it', 'sec', 'tal', '...",0.083333,0.6369,NaN
43758,en,"Panel discussion with the crew of ""Batman v Su...",2016-04-05T17:00:23Z,POSITIVE,Switzerland,"['Panel', 'discussion', 'with', 'the', 'crew',...","['panel', 'discuss', 'crew', '""', 'batm', 'v',...",0.055555,0.6597,NaN
43759,en,"Math, not even once",2016-04-05T14:22:10Z,NEUTRAL,Switzerland,"['Math', ',', 'not', 'even', 'once']","['math', ',', 'ev']",0.000000,0.0000,NaN
43760,en,Fund run by David Cameron’s father avoided pay...,2016-04-05T02:01:37Z,NEUTRAL,Switzerland,"['Fund', 'run', 'by', 'David', 'Cameron', '’',...","['fund', 'run', 'david', 'cameron', '’', 'fath...",0.000000,-0.3400,NaN
43761,en,"@meaghan_newell lots of #prolife r #progun,sup...",2016-04-05T07:34:35Z,NEGATIVE,Switzerland,"['lots', 'of', '#prolife', 'r', '#progun', ','...","['lot', '#prolife', 'r', '#progun', ',', 'supp...",0.071428,-0.8074,NaN
43762,en,@mcloughlinseanm dont even know if tgat exists...,2016-04-05T00:17:53Z,NEUTRAL,Switzerland,"['dont', 'even', 'know', 'if', 'tgat', 'exists...","['dont', 'ev', 'know', 'tgat', 'ex', 'ffs']",0.000000,-0.5859,NaN
43763,en,Why doesn't anyone cover Dani Alves ffs,2016-04-05T20:38:29Z,NEUTRAL,Switzerland,"['Why', ""doesn't"", 'anyone', 'cover', 'Dani', ...","['why', 'anyon', 'cov', 'dan', 'alv', 'ffs']",0.000000,-0.5859,NaN
43764,en,@burninghat hein dis :),2016-04-05T09:27:46Z,POSITIVE,Switzerland,"['hein', 'dis', ':)']","['hein', 'dis', ':)']",0.000000,0.4588,NaN
43765,en,"""I am here to tell you why I will use every po...",2016-04-05T15:59:12Z,POSITIVE,Switzerland,"['""', 'I', 'am', 'here', 'to', 'tell', 'you', ...","['""', 'i', 'tel', 'i', 'us', 'every', 'pow', '...",0.038461,-0.3400,NaN
43766,en,Perps of “far-right” hit-and-run on Muslim wom...,2016-04-05T07:09:28Z,POSITIVE,Switzerland,"['Perps', 'of', '“', 'far-right', '”', 'hit-an...","['perp', '“', 'far-right', '”', 'hit-and-run',...",0.000000,0.0000,NaN

In [21]:
not_mapped_data = data_new[(data_new.canton).isnull()]
percentage_not_mapped = not_mapped_data.shape[0] / data_new.shape[0]
print(not_mapped_data.shape[0])
print(percentage_not_mapped)
not_mapped_data.head()

29134
0.6656613430209976

,lang,main,published,sentiment,source_location,main_tk,meaningful_main,clean_main_polarity,vader_polarity,canton
2,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T21:50:50Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848,NaN
16,en,@detravoir Might this confirm the prophecy? pi...,2016-04-01T17:49:36Z,NEUTRAL,Confoederatio Helvetica,"['Might', 'this', 'confirm', 'the', 'prophecy'...","['might', 'confirm', 'prophecy', '?', 'pic.twi...",0.000000,0.0000,NaN
17,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T20:51:10Z,NEGATIVE,Suica,"['Bad', 'Apple', '!', 'pic.twitter.com/Xad2aVO...","['bad', 'appl', '!', 'pic.twitter.com/xad2avoh...",-0.249994,-0.5848,NaN
18,en,Did some #GreenDay #acoustic. 21 Guns. #rock #...,2016-04-01T20:27:24Z,POSITIVE,Confoederatio Helvetica,"['Did', 'some', '#GreenDay', '#acoustic', '.',...","['did', '#greenday', '#acoustic', '21', 'gun',...",0.000000,0.0000,NaN
20,en,@BlizzHeroes @DustinBrowder http://imgur.com/y...,2016-04-01T00:23:23Z,NEGATIVE,Confoederatio Helvetica,"['http://imgur.com/yX89HVR', '...', 'why', '?'...","['http://imgur.com/yx89hvr', '...', '?', 'yo',...",-0.142855,-0.4939,NaN

In [28]:
mapped_data = data_new.dropna(subset= ['canton'], how='all')
data_sent_canton = mapped_data[['canton','sentiment','clean_main_polarity','vader_polarity','published']]
print(data_sent_canton.shape[0])
data_sent_canton.head()

14633

  canton sentiment  clean_main_polarity  vader_polarity             published
0     LU  POSITIVE             0.071428          0.8856  2016-04-01T02:35:56Z
1     NW  POSITIVE             0.071428          0.7644  2016-04-01T14:42:21Z
3     SZ   NEUTRAL            -0.090908          0.0772  2016-04-01T11:43:27Z
4     BE   NEUTRAL             0.000000          0.0000  2016-04-01T06:31:13Z
5     GR   NEUTRAL            -0.181817          0.0000  2016-04-01T13:42:13Z

In [29]:
data_sent_canton.head()

  canton sentiment  clean_main_polarity  vader_polarity             published
0     LU  POSITIVE             0.071428          0.8856  2016-04-01T02:35:56Z
1     NW  POSITIVE             0.071428          0.7644  2016-04-01T14:42:21Z
3     SZ   NEUTRAL            -0.090908          0.0772  2016-04-01T11:43:27Z
4     BE   NEUTRAL             0.000000          0.0000  2016-04-01T06:31:13Z
5     GR   NEUTRAL            -0.181817          0.0000  2016-04-01T13:42:13Z

In [30]:
def sentiment_value(name):
    if name == 'NEUTRAL':
        val = 0
    elif name == 'POSITIVE':
        val = 1
    elif name == 'NEGATIVE':
        val = -1
    else :
        val = np.NaN
    return val

In [31]:
data_sent_canton['sentiment'] = [sentiment_value(a) for a in data_sent_canton['sentiment']]

/Users/asmaetounsi/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
data_sent_canton = data_sent_canton.dropna()

In [34]:
print(data_sent_canton.shape[0])
data_sent_canton.head()

14633

  canton  sentiment  clean_main_polarity  vader_polarity             published
0     LU          1             0.071428          0.8856  2016-04-01T02:35:56Z
1     NW          1             0.071428          0.7644  2016-04-01T14:42:21Z
3     SZ          0            -0.090908          0.0772  2016-04-01T11:43:27Z
4     BE          0             0.000000          0.0000  2016-04-01T06:31:13Z
5     GR          0            -0.181817          0.0000  2016-04-01T13:42:13Z

In [35]:
data_sent_canton['published'] = [a.split('T')[0] for a in data_sent_canton['published']]

In [36]:
data_sent_canton=data_sent_canton.rename(columns = {'published':'day'})
data_sent_canton.head()

  canton  sentiment  clean_main_polarity  vader_polarity         day
0     LU          1             0.071428          0.8856  2016-04-01
1     NW          1             0.071428          0.7644  2016-04-01
3     SZ          0            -0.090908          0.0772  2016-04-01
4     BE          0             0.000000          0.0000  2016-04-01
5     GR          0            -0.181817          0.0000  2016-04-01

In [37]:
data_day = data_sent_canton.groupby(['day'])
data_day.describe()

                  clean_main_polarity    sentiment  vader_polarity
day
2016-04-01 count          3484.000000  3484.000000     3484.000000
           mean              0.008210     0.185132        0.137028
           std               0.097494     0.698135        0.380699
           min              -0.999900    -1.000000       -0.953100
           25%               0.000000     0.000000        0.000000
           50%               0.000000     0.000000        0.000000
           75%               0.000000     1.000000        0.440400
           max               0.999950     1.000000        0.967000
2016-04-02 count          2401.000000  2401.000000     2401.000000
           mean              0.005083     0.197418        0.134885
           std               0.102137     0.713099        0.386179
           min              -0.999900    -1.000000       -0.957800
           25%               0.000000     0.000000        0.000000
           50%               0.000000     0.000000        0.000000
           75%               0.000000     1.000000        0.440400
           max               0.999950     1.000000        0.967800
2016-04-03 count          2433.000000  2433.000000     2433.000000
           mean              0.013343     0.233046        0.154358
           std               0.107105     0.705029        0.378086
           min              -0.999950    -1.000000       -0.938200
           25%               0.000000     0.000000        0.000000
           50%               0.000000     0.000000        0.000000
           75%               0.000000     1.000000        0.458800
           max               0.999900     1.000000        0.956700
2016-04-04 count          3098.000000  3098.000000     3098.000000
           mean              0.009424     0.178502        0.129564
           std               0.091055     0.683371        0.371818
           min              -0.999900    -1.000000       -0.943800
           25%               0.000000     0.000000        0.000000
           50%               0.000000     0.000000        0.000000
           75%               0.000000     1.000000        0.440400
           max               0.999900     1.000000        0.996000
2016-04-05 count          3217.000000  3217.000000     3217.000000
           mean              0.008709     0.156668        0.112817
           std               0.094934     0.696705        0.383792
           min              -0.666644    -1.000000       -0.959000
           25%               0.000000     0.000000        0.000000
           50%               0.000000     0.000000        0.000000
           75%               0.000000     1.000000        0.421500
           max               0.999967     1.000000        0.964800

In [41]:
for name, group in data_day:
        print(name)
        #print(group)

2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05

In [56]:
data_single_day = data_day.get_group('2016-04-01')
data_single_day_gp = data_single_day.groupby('canton')
data_single_day_mean = data_single_day_gp.mean()
data_single_day_mean.columns = ['main_mean','sentiment_mean','vader_mean']
data_single_day_std = data_single_day_gp.std()
data_single_day_std.columns = ['main_std','sentiment_std','vader_std']
data_single_day_count = pd.DataFrame(data_single_day_gp.count()['sentiment'])
data_single_day_count.columns = ['count']

data_single_day = pd.concat([data_single_day_mean, data_single_day_std, data_single_day_count], axis = 1, join = 'inner')
data_single_day

,main_mean,sentiment_mean,vader_mean,main_std,sentiment_std,vader_std,count
canton,,,,,,,
AG,-0.026587,0.000000,0.071470,0.164956,0.794719,0.406203,20
AR,0.148861,0.250000,0.490125,0.235173,0.957427,0.248201,4
BE,0.010975,0.158416,0.122261,0.113088,0.634539,0.368261,202
BL,0.099999,1.000000,0.624900,NaN,NaN,NaN,1
BS,0.012385,0.197080,0.141170,0.084776,0.673440,0.383024,137
FR,0.025523,0.240000,0.111044,0.096528,0.597216,0.353070,25
GE,-0.001906,0.069523,0.067172,0.097805,0.726309,0.392874,1237
GR,-0.032342,0.125000,0.040450,0.066123,0.640870,0.220555,8
JU,0.000000,0.000000,0.000000,NaN,NaN,NaN,1
LU,0.017455,0.277778,0.282889,0.119415,0.741085,0.366652,36
NE,0.016783,0.600000,0.255290,0.035535,0.516398,0.281344,10
NW,0.071428,1.000000,0.764400,NaN,NaN,NaN,1
SG,-0.000404,0.500000,0.257986,0.070234,0.518875,0.360035,14
SH,0.000000,0.200000,0.100900,0.000000,0.447214,0.475233,5
SZ,-0.050505,-0.250000,-0.090800,0.058898,0.500000,0.235891,4
TG,-0.142855,0.000000,0.000000,NaN,NaN,NaN,1
TI,-0.021277,-0.042254,0.058837,0.088381,0.619599,0.326736,71
VD,-0.001714,0.164062,0.124496,0.081044,0.696191,0.397402,128
VS,0.036415,0.375000,0.300394,0.267161,0.718795,0.337603,16
ZH,0.017360,0.283429,0.192572,0.092048,0.674884,0.365167,1563

In [57]:
data_single_day = data_single_day.reset_index()
data_single_day

,canton,main_mean,sentiment_mean,vader_mean,main_std,sentiment_std,vader_std,count
0,AG,-0.026587,0.000000,0.071470,0.164956,0.794719,0.406203,20
1,AR,0.148861,0.250000,0.490125,0.235173,0.957427,0.248201,4
2,BE,0.010975,0.158416,0.122261,0.113088,0.634539,0.368261,202
3,BL,0.099999,1.000000,0.624900,NaN,NaN,NaN,1
4,BS,0.012385,0.197080,0.141170,0.084776,0.673440,0.383024,137
5,FR,0.025523,0.240000,0.111044,0.096528,0.597216,0.353070,25
6,GE,-0.001906,0.069523,0.067172,0.097805,0.726309,0.392874,1237
7,GR,-0.032342,0.125000,0.040450,0.066123,0.640870,0.220555,8
8,JU,0.000000,0.000000,0.000000,NaN,NaN,NaN,1
9,LU,0.017455,0.277778,0.282889,0.119415,0.741085,0.366652,36
10,NE,0.016783,0.600000,0.255290,0.035535,0.516398,0.281344,10
11,NW,0.071428,1.000000,0.764400,NaN,NaN,NaN,1
12,SG,-0.000404,0.500000,0.257986,0.070234,0.518875,0.360035,14
13,SH,0.000000,0.200000,0.100900,0.000000,0.447214,0.475233,5
14,SZ,-0.050505,-0.250000,-0.090800,0.058898,0.500000,0.235891,4
15,TG,-0.142855,0.000000,0.000000,NaN,NaN,NaN,1
16,TI,-0.021277,-0.042254,0.058837,0.088381,0.619599,0.326736,71
17,VD,-0.001714,0.164062,0.124496,0.081044,0.696191,0.397402,128
18,VS,0.036415,0.375000,0.300394,0.267161,0.718795,0.337603,16
19,ZH,0.017360,0.283429,0.192572,0.092048,0.674884,0.365167,1563

In [58]:
def day_preprocess(day):
    data_single_day = data_day.get_group(day)
    data_single_day_gp = data_single_day.groupby('canton')
    data_single_day_mean = data_single_day_gp.mean()
    data_single_day_mean.columns = ['main_mean','sentiment_mean','vader_mean']
    data_single_day_std = data_single_day_gp.std()
    data_single_day_std.columns = ['main_std','sentiment_std','vader_std']
    data_single_day_count = pd.DataFrame(data_single_day_gp.count()['sentiment'])
    data_single_day_count.columns = ['count']
    data_single_day = pd.concat([data_single_day_mean, data_single_day_std, data_single_day_count], axis = 1, join = 'inner')
    return data_single_day.reset_index()

In [62]:
prefix="viz-data/__harvest3r_twitter_data_0"
postfix = "-04_0.json"
for i in np.arange(5):
    day = '2016-04-0' + str(i+1)
    print("Pre-processing " + day + "\n");
    data_sd = day_preprocess(day)
    print(data_sd.head())
    print("write json file " + day + "\n");
    file_name = prefix + str(i+1) + postfix
    data_sd.to_json(file_name)

Pre-processing 2016-04-01

  canton  main_mean  sentiment_mean  vader_mean  main_std  sentiment_std  \
0     AG  -0.026587        0.000000    0.071470  0.164956       0.794719
1     AR   0.148861        0.250000    0.490125  0.235173       0.957427
2     BE   0.010975        0.158416    0.122261  0.113088       0.634539
3     BL   0.099999        1.000000    0.624900       NaN            NaN
4     BS   0.012385        0.197080    0.141170  0.084776       0.673440

   vader_std  count
0   0.406203     20
1   0.248201      4
2   0.368261    202
3        NaN      1
4   0.383024    137
write json file 2016-04-01

Pre-processing 2016-04-02

  canton  main_mean  sentiment_mean  vader_mean  main_std  sentiment_std  \
0     AG   0.005917        0.461538    0.245038  0.021334       0.660225
1     BE   0.010145        0.225434    0.173821  0.098628       0.682881
2     BL   0.000000        1.000000    0.000000       NaN            NaN
3     BS  -0.016808        0.020408    0.134133  0.084383       0.786216
4     FR  -0.029090        0.100000    0.110670  0.066500       0.567646

   vader_std  count
0   0.410802     13
1   0.374669    173
2        NaN      1
3   0.405889     98
4   0.243050     10
write json file 2016-04-02

Pre-processing 2016-04-03

  canton  main_mean  sentiment_mean  vader_mean  main_std  sentiment_std  \
0     AG   0.029497        0.266667    0.087880  0.075242       0.593617
1     BE   0.016166        0.182353    0.121654  0.110242       0.667713
2     BS  -0.013693        0.207207    0.086751  0.070200       0.675777
3     FR  -0.002057        0.185185    0.096204  0.226391       0.786278
4     GE   0.021816        0.179671    0.152202  0.099876       0.720823

   vader_std  count
0   0.270341     15
1   0.351822    170
2   0.369252    111
3   0.360778     27
4   0.390350    974
write json file 2016-04-03

Pre-processing 2016-04-04

  canton  main_mean  sentiment_mean  vader_mean  main_std  sentiment_std  \
0     AG   0.018269        0.153846    0.132146  0.064269       0.554700
1     BE   0.010252        0.153846    0.137911  0.099023       0.670557
2     BL  -0.066665       -0.333333   -0.329267  0.115468       0.577350
3     BS   0.001847        0.027027    0.081220  0.141301       0.719336
4     FR  -0.020306        0.052632    0.035711  0.099993       0.705036

   vader_std  count
0   0.368570     13
1   0.352683    208
2   0.299627      3
3   0.338236    111
4   0.394967     19
write json file 2016-04-04

Pre-processing 2016-04-05

  canton  main_mean  sentiment_mean  vader_mean  main_std  sentiment_std  \
0     AG   0.000570        0.222222    0.128152  0.070195       0.697982
1     BE   0.012141        0.056769    0.081271  0.097643       0.593318
2     BL   0.000000        0.000000    0.000000       NaN            NaN
3     BS   0.013438        0.144828    0.130407  0.097424       0.676791
4     FR  -0.010873       -0.074074   -0.022007  0.116206       0.549540

   vader_std  count
0   0.427562     27
1   0.343299    229
2        NaN      1
3   0.399411    145
4   0.327106     27
write json file 2016-04-05

In [66]:
#statistical significance

import scipy.stats as stats

# day 
data_day1 = data_day[data_day.day == '2016-04-01']
print(data_day1)
data_day2 = data_day[data_day.day == '2016-04-02']
print(data_day2)
data_day3 = data_day[data_day.day == '2016-04-03']
print(data_day3)
data_day4 = data_day[data_day.day == '2016-04-04']
print(data_day4)
data_day5 = data_day[data_day.day == '2016-04-05']
print(data_day5)

stats.friedmanchisquare(data_day1,data_day2,data_day3,data_day4,data_day5)

KeyError: 'Column not found: False'

In [ ]:
# canton