In [1]:
import pandas as pd
import numpy as np

In [2]:
prefix = "data/__harvest3r_twitter_data_0"
postfix = "-04_0.json"
data = pd.DataFrame()
for i in np.arange(5):
    file_name = prefix + str(i+1) + postfix
    print("Reading " + file_name + "\n");
    df = pd.read_json(file_name)
    data = pd.concat([data, df])

Reading data/__harvest3r_twitter_data_01-04_0.json

Reading data/__harvest3r_twitter_data_02-04_0.json

Reading data/__harvest3r_twitter_data_03-04_0.json

Reading data/__harvest3r_twitter_data_04-04_0.json

Reading data/__harvest3r_twitter_data_05-04_0.json

In [3]:
loc_to_canton = pd.read_csv('data/location_to_canton.csv')
del loc_to_canton['Unnamed: 0']

In [4]:
loc_to_canton.columns = [['canton','source_location']]
loc_to_canton.head()

  canton     source_location
0     ZH  Affoltern am Albis
1     ZH               Uster
2     ZH              Zurigo
3     ZH              Bülach
4     ZH             Zuerich

In [5]:
data.head()

,lang,main,published,sentiment,source_location
0,de,Aktuellste Immoangebote http://tinyurl.com/cth...,2016-04-01T10:07:39Z,NEUTRAL,Bremgarten
1,de,Du bist 6 - 14 Jahre alt & sprichst Schweizerd...,2016-04-01T09:47:26Z,NEUTRAL,Bad Zurzach
2,fr,EN DIRECT sur #Periscope : Avec awa la blg htt...,2016-04-01T21:50:35Z,NEUTRAL,Ginevra
3,en,@ZHA_News https://youtu.be/UxQmxIm4q1s Rest i...,2016-04-01T02:35:56Z,POSITIVE,Lucerna
4,de,Unterwegs rastet der Velofahrer gerne bei eine...,2016-04-01T14:08:57Z,NEUTRAL,Hochdorf

In [6]:
data_new = pd.merge(data, loc_to_canton, on='source_location', how='left')
data_new

,lang,main,published,sentiment,source_location,canton
0,de,Aktuellste Immoangebote http://tinyurl.com/cth...,2016-04-01T10:07:39Z,NEUTRAL,Bremgarten,AG
1,de,Du bist 6 - 14 Jahre alt & sprichst Schweizerd...,2016-04-01T09:47:26Z,NEUTRAL,Bad Zurzach,AG
2,fr,EN DIRECT sur #Periscope : Avec awa la blg htt...,2016-04-01T21:50:35Z,NEUTRAL,Ginevra,GE
3,en,@ZHA_News https://youtu.be/UxQmxIm4q1s Rest i...,2016-04-01T02:35:56Z,POSITIVE,Lucerna,LU
4,de,Unterwegs rastet der Velofahrer gerne bei eine...,2016-04-01T14:08:57Z,NEUTRAL,Hochdorf,LU
5,en,Come and join me at our testing Roadshow on Ap...,2016-04-01T14:42:21Z,POSITIVE,Ennetbürgen,NW
6,en,Bad Apple! pic.twitter.com/Xad2aVOHFd,2016-04-01T21:50:50Z,NEGATIVE,Suica,NaN
7,en,Number crunching for the past week - 1 new unf...,2016-04-01T11:43:27Z,NEUTRAL,Arth,SZ
8,fr,@ElisaaNunees poisson d'avril laul,2016-04-01T10:23:32Z,NEUTRAL,Conthey,VS
9,en,Just posted a photo @ Langnau im Emmental http...,2016-04-01T06:31:13Z,NEUTRAL,Langnau,BE
10,de,Wohin führt eure Tour am Wochenende? Hier in E...,2016-04-01T10:53:47Z,NEUTRAL,Einsiedeln,SZ
11,fr,"Après le match de basket, dancing !",2016-04-01T20:21:18Z,NEUTRAL,Porrentruy,JU
12,en,Europe's New Mars Mission Bringing NASA Radios...,2016-04-01T13:42:13Z,NEUTRAL,Poschiavo,GR
13,de,Nach turbulentem Jahr strebt Heimatwerk klares...,2016-04-01T04:28:59Z,NEUTRAL,Saanen,BE
14,de,Luftseilbahn Turtmann-Unterems-Oberems ab Mont...,2016-04-01T02:44:02Z,NEUTRAL,Visp,VS
15,nl,Met 322 zonnedagen per jaar is St. Moritz een ...,2016-04-01T10:00:30Z,NEUTRAL,Zwitserland,NaN
16,de,"Energiereporterin Anna war in Kalifornien, um ...",2016-04-01T09:59:41Z,NEUTRAL,Rheinfelden,AG
17,de,Die Glarner Kantonalbank und der Glarner Kunst...,2016-04-01T14:38:29Z,NEUTRAL,Glarus,GL
18,de,"@migros Bisher auf Keinen, da ich noch keinen ...",2016-04-01T06:33:32Z,POSITIVE,Herisau,AR
19,de,Unser Tipp fürs hoffentlich sonnige Wochenende...,2016-04-01T15:07:24Z,NEUTRAL,Bad Zurzach,AG
20,de,Schultern/Trizeps/Nacken #gymheroapp #fittyco ...,2016-04-01T13:27:57Z,NEUTRAL,Laufen,BL
21,en,I liked a @YouTube video http://youtu.be/LE1WG...,2016-04-01T15:46:19Z,POSITIVE,Laufen,BL
22,de,Mittagskarte vom 4.4 bis 8.4.2016 http://fb.me...,2016-04-01T15:15:38Z,NEUTRAL,Buchs,SG
23,it,Bella come poche! @manolamoslehi CiaoBaby! #fa...,2016-04-01T16:56:11Z,NEUTRAL,Losanna,VD
24,de,Brüssel verstärkt die Sicherheit am Flughafen....,2016-04-01T20:55:50Z,NEUTRAL,Altdorf,UR
25,de,Drohnen liefern gediegenes Palace-Essen ins ga...,2016-04-01T04:28:58Z,NEUTRAL,Saanen,BE
26,de,Neuer Bereich auf unserer Website: Multimedia ...,2016-04-01T06:06:57Z,NEUTRAL,Romanshorn,TG
27,de,Am 5.Mail 16 Tanz an der Luga Luzern die Tanzs...,2016-04-01T12:40:02Z,NEUTRAL,Sursee,LU
28,de,"Es ist wieder Zeit für ein gemütliches ""After-...",2016-04-01T12:59:55Z,NEUTRAL,Schmerikon,SG
29,de,"10 vor 9: 10 Dinge, die heute in den Fokus rüc...",2016-04-01T17:33:40Z,NEUTRAL,Bremgarten,AG
...,...,...,...,...,...,...
118876,en,@MrabetNaddish I thought I'd find you here,2016-04-05T17:54:58Z,NEUTRAL,Switzerland,NaN
118877,en,‘Panama Papers’ bombshell reveals Secom founde...,2016-04-05T03:11:53Z,NEUTRAL,Switzerland,NaN
118878,nl,US sessie zwakker als verwacht...,2016-04-05T03:51:23Z,NEUTRAL,Switzerland,NaN
118879,en,Have you ever felt stuck? Would you love to kn...,2016-04-05T10:45:40Z,NEGATIVE,Switzerland,NaN
118880,de,Keine Patente auf Pflanzen und Tiere https://w...,2016-04-05T18:48:43Z,NEUTRAL,Switzerland,NaN
118881,de,Flexibles und qualitativ hochwertiges IMS mit ...,2016-04-05T07:41:19Z,NEUTRAL,Switzerland,NaN
118882,de,Ich war vergangene Nacht wieder in Altra und ....,2016-04-05T08:37:53Z,NEUTRAL,Switzerland,NaN
118883,en,#nowplaying Kaleo - (REP) No Good #Kaleo http:...,2016-04-05T14:19:10Z,POSITIVE,Switzerland,NaN
118884,en,Valve will let you watch Dota 2 games in virtu...,2016-04-05T21:38:21Z,NEUTRAL,Switzerland,NaN
118885,de,Produkt-Update #323: Die neusten Erotik-Toys u...,2016-04-05T17:58:09Z,NEUTRAL,Switzerland,NaN
118886,en,We need to develop IT security talent and move...,2016-04-05T16:10:25Z,POSITIVE,Switzerland,NaN
118887,de,Deshalb darf es mit dem #NAF keine Erhöhung de...,2016-04-05T07:56:26Z,NEUTRAL,Switzerland,NaN
118888,de,@NorFrosch die Antwort ist ein sehr bestimmtes...,2016-04-05T16:13:16Z,NEUTRAL,Switzerland,NaN
118889,de,@TeilzeitTemmie Deine Haare sehen nice aus!,2016-04-05T14:51:22Z,NEUTRAL,Switzerland,NaN
118890,de,Balkonsaison eröffnetpic.twitter.com/xSJx3lj3we,2016-04-05T11:28:17Z,NEUTRAL,Switzerland,NaN
118891,en,"Panel discussion with the crew of ""Batman v Su...",2016-04-05T17:00:23Z,POSITIVE,Switzerland,NaN
118892,en,"Math, not even once",2016-04-05T14:22:10Z,NEUTRAL,Switzerland,NaN
118893,en,Fund run by David Cameron’s father avoided pay...,2016-04-05T02:01:37Z,NEUTRAL,Switzerland,NaN
118894,es,"pensando tu nombre en abril, en abril",2016-04-05T03:17:06Z,NEUTRAL,Switzerland,NaN
118895,en,"@meaghan_newell lots of #prolife r #progun,sup...",2016-04-05T07:34:35Z,NEGATIVE,Switzerland,NaN
118896,in,@EJAZHASNAIN Pakistan ke mudde pe!,2016-04-05T07:56:06Z,NEUTRAL,Switzerland,NaN
118897,en,@mcloughlinseanm dont even know if tgat exists...,2016-04-05T00:17:53Z,NEUTRAL,Switzerland,NaN
118898,de,Blick in die Zukunft: Virtual-Reality-Brillen ...,2016-04-05T19:58:16Z,NEUTRAL,Switzerland,NaN
118899,und,http://blog.softwareone.com/is-poor-procuremen...,2016-04-05T12:27:46Z,NaN,Switzerland,NaN
118900,fr,J'ai juste tellement hâte que cette journée se...,2016-04-05T12:16:45Z,NEUTRAL,Switzerland,NaN
118901,en,Why doesn't anyone cover Dani Alves ffs,2016-04-05T20:38:29Z,NEUTRAL,Switzerland,NaN
118902,en,@burninghat hein dis :),2016-04-05T09:27:46Z,POSITIVE,Switzerland,NaN
118903,en,"""I am here to tell you why I will use every po...",2016-04-05T15:59:12Z,POSITIVE,Switzerland,NaN
118904,en,Perps of “far-right” hit-and-run on Muslim wom...,2016-04-05T07:09:28Z,POSITIVE,Switzerland,NaN
118905,et,එක් අයෙකි-Just One By Kelly Kurt Poem by Udaya...,2016-04-05T21:13:05Z,NEUTRAL,Switzerland,NaN

In [7]:
data_sent_canton = data_new[['canton','sentiment','published']].dropna()

In [8]:
data_sent_canton.head()

  canton sentiment             published
0     AG   NEUTRAL  2016-04-01T10:07:39Z
1     AG   NEUTRAL  2016-04-01T09:47:26Z
2     GE   NEUTRAL  2016-04-01T21:50:35Z
3     LU  POSITIVE  2016-04-01T02:35:56Z
4     LU   NEUTRAL  2016-04-01T14:08:57Z

In [9]:
def sentiment_value(name):
    if name == 'NEUTRAL':
        val = 0
    elif name == 'POSITIVE':
        val = 1
    elif name == 'NEGATIVE':
        val = -1
    else :
        val = np.NaN
    return val

In [10]:
data_sent_canton['sentiment'] = [sentiment_value(a) for a in data_sent_canton['sentiment']]

In [11]:
data_sent_canton = data_sent_canton.dropna()

In [12]:
data_sent_canton.head()

  canton  sentiment             published
0     AG          0  2016-04-01T10:07:39Z
1     AG          0  2016-04-01T09:47:26Z
2     GE          0  2016-04-01T21:50:35Z
3     LU          1  2016-04-01T02:35:56Z
4     LU          0  2016-04-01T14:08:57Z

In [13]:
data_sent_canton['published'] = [a.split('T')[0] for a in data_sent_canton['published']]

In [14]:
data_sent_canton=data_sent_canton.rename(columns = {'published':'day'})
data_sent_canton.head()

  canton  sentiment         day
0     AG          0  2016-04-01
1     AG          0  2016-04-01
2     GE          0  2016-04-01
3     LU          1  2016-04-01
4     LU          0  2016-04-01

In [15]:
data_day = data_sent_canton.groupby(['day'])
data_day.describe()

                     sentiment
day
2016-04-01 count  10583.000000
           mean       0.085987
           std        0.437747
           min       -1.000000
           25%        0.000000
           50%        0.000000
           75%        0.000000
           max        1.000000
2016-04-02 count   8077.000000
           mean       0.084066
           std        0.429231
           min       -1.000000
           25%        0.000000
           50%        0.000000
           75%        0.000000
           max        1.000000
2016-04-03 count   8340.000000
           mean       0.091727
           std        0.422821
           min       -1.000000
           25%        0.000000
           50%        0.000000
           75%        0.000000
           max        1.000000
2016-04-04 count  10443.000000
           mean       0.073542
           std        0.407918
           min       -1.000000
           25%        0.000000
           50%        0.000000
           75%        0.000000
           max        1.000000
2016-04-05 count  10743.000000
           mean       0.065624
           std        0.411474
           min       -1.000000
           25%        0.000000
           50%        0.000000
           75%        0.000000
           max        1.000000

In [20]:
for name, group in data_day:
        print(name)
        #print(group)

2016-04-01
2016-04-02
2016-04-03
2016-04-04
2016-04-05

In [39]:
data_single_day = data_day.get_group('2016-04-01')
data_single_day_gp = data_single_day.groupby('canton')
data_single_day_mean = data_single_day_gp.mean()
data_single_day_mean.columns = ['mean']
data_single_day_std = data_single_day_gp.std()
data_single_day_std.columns = ['std']
data_single_day_count = data_single_day_gp.count()
data_single_day_count.columns = ['count']

data_single_day = pd.concat([data_single_day_mean, data_single_day_std, data_single_day_count], axis = 1, join = 'inner')
data_single_day

            mean       std  count
canton
AG      0.022831  0.278313    219
AR      0.545455  0.687552     11
BE      0.055288  0.342456    832
BL      0.023256  0.152499     43
BS      0.071066  0.365956    591
FR      0.066176  0.303125    136
GE      0.040471  0.504506   2718
GL      0.000000  0.000000      2
GR      0.046154  0.275611     65
JU      0.000000  0.000000      4
LU      0.083333  0.385620    168
NE      0.230769  0.429669     26
NW      0.200000  0.447214      5
OW      0.000000  0.000000      8
SG      0.283582  0.454138     67
SH      0.034483  0.183523     87
SO      0.022727  0.150756     44
SZ     -0.142857  0.377964      7
TG      0.040000  0.200000     25
TI      0.014003  0.204568   1214
UR      0.000000  0.000000      5
VD      0.067623  0.397033    488
VS      0.094595  0.376317     74
ZH      0.156784  0.488436   3744

In [41]:
data_single_day = data_single_day.reset_index()
data_single_day

   canton      mean       std  count
0      AG  0.022831  0.278313    219
1      AR  0.545455  0.687552     11
2      BE  0.055288  0.342456    832
3      BL  0.023256  0.152499     43
4      BS  0.071066  0.365956    591
5      FR  0.066176  0.303125    136
6      GE  0.040471  0.504506   2718
7      GL  0.000000  0.000000      2
8      GR  0.046154  0.275611     65
9      JU  0.000000  0.000000      4
10     LU  0.083333  0.385620    168
11     NE  0.230769  0.429669     26
12     NW  0.200000  0.447214      5
13     OW  0.000000  0.000000      8
14     SG  0.283582  0.454138     67
15     SH  0.034483  0.183523     87
16     SO  0.022727  0.150756     44
17     SZ -0.142857  0.377964      7
18     TG  0.040000  0.200000     25
19     TI  0.014003  0.204568   1214
20     UR  0.000000  0.000000      5
21     VD  0.067623  0.397033    488
22     VS  0.094595  0.376317     74
23     ZH  0.156784  0.488436   3744

In [42]:
data_single_day.to_json("test.json")

In [44]:
def day_preprocess(day):
    data_single_day = data_day.get_group(day)
    data_single_day_gp = data_single_day.groupby('canton')
    data_single_day_mean = data_single_day_gp.mean()
    data_single_day_mean.columns = ['mean']
    data_single_day_std = data_single_day_gp.std()
    data_single_day_std.columns = ['std']
    data_single_day_count = data_single_day_gp.count()
    data_single_day_count.columns = ['count']
    data_single_day = pd.concat([data_single_day_mean, data_single_day_std, data_single_day_count], axis = 1, join = 'inner')
    return data_single_day.reset_index()

In [46]:
for i in np.arange(5):
    day = '2016-04-0' + str(i+1)
    print("Pre-processing " + day + "\n");
    data_sd = day_preprocess(day)
    print(data_sd.head())
    print("write json file " + day + "\n");
    file_name = "viz-" + prefix + str(i+1) + postfix
    data_sd.to_json(file_name)

Pre-processing 2016-04-01

  canton      mean       std  count
0     AG  0.022831  0.278313    219
1     AR  0.545455  0.687552     11
2     BE  0.055288  0.342456    832
3     BL  0.023256  0.152499     43
4     BS  0.071066  0.365956    591
write json file 2016-04-01

Pre-processing 2016-04-02

  canton      mean       std  count
0     AG  0.058065  0.260836    155
1     AR  1.000000       NaN      1
2     BE  0.089645  0.402778    647
3     BL  0.047619  0.215540     42
4     BS  0.034632  0.409872    462
write json file 2016-04-02

Pre-processing 2016-04-03

  canton      mean       std  count
0     AG  0.060071  0.252497    283
1     AR  0.000000  0.000000      5
2     BE  0.073314  0.376112    682
3     BL  0.000000  0.000000     36
4     BS  0.065217  0.352776    506
write json file 2016-04-03

Pre-processing 2016-04-04

  canton      mean       std  count
0     AG  0.080169  0.287278    237
1     AR  0.000000  0.000000      5
2     BE  0.044711  0.338838    917
3     BL -0.028571  0.169031     35
4     BS  0.029126  0.365228    515
write json file 2016-04-04

Pre-processing 2016-04-05

  canton      mean       std  count
0     AG  0.072289  0.340521    166
1     AR  0.000000  0.000000      4
2     BE  0.025662  0.284961   1247
3     BL  0.000000  0.000000     22
4     BS  0.060510  0.365368    628
write json file 2016-04-05