In [21]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [2]:
df = pd.read_json("data/harvest3r_twitter_data_01-04_0.json")

In [4]:
df.head()

,_id,_index,_score,_source,_type
0,1459505293000008960,merged_content_2016_04_01_to_2016_04_14,0.001139,"{'source_favicon_height': 0, 'source_likes': 0...",content
1,1459504074000012800,merged_content_2016_04_01_to_2016_04_14,0.001139,"{'source_favicon_height': 0, 'source_likes': 0...",content
2,1459547684000013568,merged_content_2016_04_01_to_2016_04_14,0.001139,"{'source_favicon_height': 0, 'source_likes': 0...",content
3,1459478188000002816,merged_content_2016_04_01_to_2016_04_14,0.001139,"{'source_favicon_height': 0, 'source_likes': 0...",content
4,1459519767000012288,merged_content_2016_04_01_to_2016_04_14,0.001139,"{'source_favicon_height': 0, 'source_likes': 0...",content

In [27]:
df2 = pd.io.json.json_normalize(df._source[3])

In [29]:
for i in np.arange(17):
    display(df2.ix[:,i*4:((i+1)*4)])

,author_avatar_img,author_gender,author_handle,author_link
0,https://pbs.twimg.com/profile_images/646392333...,UNKNOWN,ALFEEL_GOOD,https://twitter.com/ALFEEL_GOOD

,author_name,bucket,canonical,date_found
0,ALFEEL GOOD,1459478100066,https://twitter.com/ALFEEL_GOOD/status/7157293...,2016-04-01T02:36:28Z

        domain                     hashcode           index_method lang
0  twitter.com  gadKcHq7icu7mdbqeh-kb-QXZ5I  SOURCE_TASK_COMPOSITE   en

,links,main,main_authoritative,main_checksum
0,"[https://t.co/vUdAJYDu4o, https://twitter.com/...",@ZHA_News https://youtu.be/UxQmxIm4q1s Rest i...,True,j-LPxbxNB4LrdiZOLU9xmigJj3o

  main_format  main_length    mentions  metadata_score
0        TEXT          144  [ZHA_News]             314

,permalink,published,resource,sentiment
0,https://twitter.com/ALFEEL_GOOD/status/7157293...,2016-04-01T02:35:56Z,https://twitter.com/ALFEEL_GOOD/status/7157293...,POSITIVE

,sequence,sequence_range,site,source_content_checksum
0,1459478188000002741,62866,twitter.com,EZjK6Tj1xxPysaTlW2fDTvPZha0

,source_content_length,source_date_found,source_description,source_favicon_height
0,298888,2015-09-29T22:16:46Z,<p>technowarrior</p>,0

   source_favicon_width  source_favorites  source_followers  source_following
0                     0              1123               170               564

,source_handle,source_hashcode,source_http_status,source_image_height
0,ALFEEL_GOOD,_ku0Zrxgfbzig3sBh_vDpmfgY0U,200,0

,source_image_src,source_image_width,source_last_posted,source_last_published
0,https://pbs.twimg.com/profile_images/646392333...,0,2014-11-28T08:05:48Z,2015-09-29T22:16:46Z

,source_last_updated,source_likes,source_link,source_location
0,2015-09-29T22:16:46Z,0,https://twitter.com/ALFEEL_GOOD,Lucerna

,source_parsed_posts,source_parsed_posts_max,source_publisher_subtype,source_publisher_type
0,0,0,twitter,MICROBLOG

,source_resource,source_setting_author_policy,source_setting_index_strategy,source_setting_minimum_content_metadata_score
0,https://twitter.com/ALFEEL_GOOD,DEFAULT,DEFAULT,0

,source_setting_update_strategy,source_spam_probability,source_title,source_update_interval
0,CYCLICAL,0.0,ALFEEL GOOD,3600000

   source_user_interactions source_verified       tags  type
0                         0            True  [RIPZaha]  POST

   version
0  5.1.681

In [32]:
df2.main[0]

'@ZHA_News https://youtu.be/UxQmxIm4q1s\xa0 Rest in peace Zaha Hadid! Thank you for your brilliant way to recreate architecture #RIPZaha incredible!'